# Serving
fastapi==0.115.5
uvicorn[standard]==0.32.1
pydantic==2.10.3
pydantic-settings==2.7.0

# ML
scikit-learn==1.5.2
pandas==2.2.3
numpy==1.26.4
joblib==1.4.2

# Monitoring
prometheus-client==0.21.1
prometheus-fastapi-instrumentator==7.0.0

# Logging
python-json-logger==3.2.0